<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Demo: Place Order</title>
		<!-- 3rd party libraries begin -->

		<!-- import Vue -->
		<script src="js/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<!-- import ElementUI css files -->
		<link rel="stylesheet" href="css/element-ui/index.css">
		<!-- import ElementUI js files -->
		<script src="js/element-ui/index.js"></script>
		<!-- import axios -->
		<script src="js/axios/axios.min.js"></script>

		<!-- 3rd party libraries end -->

		<!-- page files start -->

		<!-- page css -->
		<link rel="stylesheet" href="css/index.css">
		<!-- page js -->
    </head>

	<body>


	<div>
		<el-container>
			<el-header>
				<h1 style="display: inline">CS Ranking</h1>
            </el-header>
            <el-aside width="200px">
                <el-row>
                    <div id="app2">
                        <table v-for="direction in Directions" :key="direction.name">
                            <thead>
                                <tr>
                                    <th>
                                        <p class="text-muted">{{direction.name}}
                                            [<a class="area_group_selector" :id="direction.off_id">off</a> | <a class="area_group_selector" :id="direction.on_id">on</a>]
                                            </p>
                                    </th>
                                </tr>
                            </thead>
                            <table v-for="direction in Directions" :key="direction.name">
                                <tbody>
                                    <template v-for = "field in direction.fields" :key="field.name">
                                        <tr>
                                            <label for="direction.name">
                                                {{field.name}}
                                            </label>
                                            <input type="checkbox" name="direction.name" id="direction.name"
                                            :value="field.name" v-model="checkedFields" @change="check($event)" :key="field.name">
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </table>
                    </div>
                    </el-col>
                </el-row>
            </el-aside>
			<el-main>
				<div>
                    <table class = "table table-fit table-sm table-striped", id="ranking" valign="top">
                        <thead>
                            <tr><th align="left"><font color="#777">#</font></th><th align="left"><font color="#777">Institution</font></th><th align="right"><abbr title="Geometric mean count of papers published across all areas."><font color="#777">Count</font></abbr></th><th align="right">&nbsp;<abbr title="Number of faculty who have published in these areas."><font color="#777">Faculty</font></abbr></th></tr>
                        </thead>
                        <Ranking output="output"></Ranking>
                    </table>
                </div>
			</el-main>
		</el-container>
	</div>
	</body>

	<!--- page script--->
	<script src="js/index.js"></script>
</html>