<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Demo: Place Order</title>
		<!-- 3rd party libraries begin -->

		<!-- import Vue -->
		<script src="js/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<!-- import ElementUI css files -->
		<link rel="stylesheet" href="css/element-ui/index.css">
		<!-- import ElementUI js files -->
		<script src="js/element-ui/index.js"></script>
		<!-- import axios -->
		<script src="js/axios/axios.min.js"></script>

		<!-- 3rd party libraries end -->

		<!-- page files start -->

		<!-- page css -->
		<link rel="stylesheet" href="css/index.css">
		<!-- page js -->
    </head>

	<body>


		<div>
			<table id="app">
			   <template v-for="direction in Directions">
				   <thead>
					   <tr>
						   <th>
							   <p>{{direction.name}}
								   [<a class="area_group_selector" 
								   :id="direction.off_id">off</a> | <a class="area_group_selector" :id="direction.on_id">on</a>]
							   </p>
						   </th>
					   </tr>
				   </thead>
				   <tbody v-for = "field in direction.fields" :key="field.name">
							   <tr>
								   <label for="direction.name">
									   {{field.name}}
								   </label>
								   <input type="checkbox" name="direction.name" id="direction.name"
								   :value="field.name" v-model="checkedFields"
								   :key="field.name">
							   </tr>
				   </tbody>
			   </template>
		   </table>
	 </div>
	</body>

	<!--- page script--->
	<script src="js/index.js"></script>
</html> 